.title-style {
    display: flex;
    width: 94vw;;

    .title-style-text {
        display: inline-block;
        font-size: 1rem;
        font-weight: 800;
        text-align: start;
        padding-left: 10px;
    }

}