.text {
    &-center {
        text-align: center !important;
    }

    &-through {
        text-decoration: line-through !important; // 删除线
    }

    &-muted {
        color: $color-grey-1 !important;
    }
}